[submodule "packages/uwcoenvws/aclkit"]
	path = packages/uwcoenvws/aclkit
	url = git@bitbucket.org:uwcoews/aclkit
[submodule "packages/uwcoenvws/formkit"]
	path = packages/uwcoenvws/formkit
	url = git@bitbucket.org:uwcoews/formkit
