[submodule "packages/uwcoews/aclkit"]
	path = packages/uwcoews/aclkit
	url = git@bitbucket.org:uwcoews/aclkit
[submodule "packages/uwcoews/formkit"]
	path = packages/uwcoews/formkit
	url = git@bitbucket.org:uwcoews/formkit
