[submodule "packages/uworgws/aclkit"]
	path = packages/uworgws/aclkit
	url = git@gl2.ladonnee.com:customers/uwashington/undergraduate-academic-affairs/aclkit.git
[submodule "packages/uworgws/formkit"]
	path = packages/uworgws/formkit
	url = git@gl2.ladonnee.com:customers/uwashington/undergraduate-academic-affairs/formkit.git
