.order-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  margin: 0;
  padding: 0;
}

.order-menu .order-menu__button,
.order-menu .order-menu__button:link,
.order-menu .order-menu__button:visited {
  display: block;
  margin-bottom: 20px;
  padding: .75rem;
  border: 0 none;
  border-radius: 6px;
  background-color: $color-indigo-900;
  background-image: none;
  font-size: 1rem;
  color: $color-indigo-100;
  text-decoration: none;
  text-align: left;
}

.order-menu > .order-menu__button:hover,
.order-menu > .order-menu__button:active {
  background-color: $color-indigo-800;
  color: $color-white;
  text-decoration: none;
}

.order-menu .order-menu__button span {
  display: inline-block;
  width: 2.5rem;
  text-align: center;
  color: $color-indigo-300;
  font-size: 1.25rem;
}

.order-menu.order-menu--with-help .order-menu__button {
  margin-bottom: 0;
}

.order-menu__help {
  margin: .5rem 0 1.5rem 0;
  padding: 0 1rem 0 3.5rem;
  font-size: .875rem;
}

.order-menu__examples {
  font-size: .75rem;
  color: #575757;
  font-weight: 600;
}

.order-menu__help ul {
  margin-left: 1rem;
  list-style-position: outside;
  list-style-type: square;
  font-size: .75rem;
  color: #444;
}
