.trip-note {
  margin-bottom: 2rem;
}

.trip-note__question {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-column-gap: 20px;
}

.trip-note__legend {
  margin-bottom: .5rem;
  font-size: .875rem;
  font-weight: 600;
  color: #333;
}

.trip-notes__answers {
  text-align: right;
}

.trip-notes__question .form-group__error {
  text-align: right;
}

.trip-note__note {
  max-width: 500px;
  margin: 0 0 0 auto;
}

.trip-note .form-group__label {
  color: #575757;
  font-weight: normal;
}
