.user-roles {
  margin: 2rem 0;
}

.user-roles__label {
  margin-left: .5rem;
  font-size: 1rem;
}

.user-roles__detail {
  margin-left: 1.5rem;
}

.user-roles__folder {
  padding: 0 0 0 1.5rem;
}

.user-roles__folder i {
  float: left;
  font-size: 24px;
  color: $color-blue-700;
}

.user-roles__folder label {
  font-size: .875rem;
  font-weight: 600;
  color: $color-gray-700;
}

.user-roles__folder .form-group {
  margin: 0 0 0 2.5rem;
}
