h1 {
  color: $color-red-900;
  font-size: 1.5rem;
  font-weight: 600;
}

h1 .sub {
  margin-left: .5rem;
  color: #a65819;
  font-size: 1.25rem;
}

h2 {
  color: #595959;
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  color: #7f7f7f;
  font-size: 1.125rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

h5, h6 {
  font-size: 1rem;
  font-weight: 600;
}
