.footer {
  padding: 32px;
  background: $color-gray-800;
  color: $color-gray-400;
  font-size: 12px;
}

.footer a,
.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: $color-gray-400;
}

.footer .copyright {
  margin-top: 8px;
}

.footer .copyright a,
.footer .copyright a:link,
.footer .copyright a:visited {
  color: $color-gray-400;
}

.footer a:hover,
.footer a:active {
  color: $color-gray-200;
}
