.w-100 {
  width: 100% !important
}

.mw-320 {
  max-width: 320px !important
}

.mw-400 {
  max-width: 400px !important
}

.mw-500 {
  max-width: 500px !important
}

.mw-600 {
  max-width: 600px !important
}

.mw-800 {
  max-width: 800px !important
}

.mw-1000 {
  max-width: 1000px !important
}

.mw-1100 {
  max-width: 1140px !important
}

.mw-1200 {
  max-width: 1200px !important
}

.mw-1600 {
  max-width: 1600px !important
}

.w-auto {
  width: auto !important
}
